<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  </head>

  <body>
    <div id="header">
      <h1><a href="/">wa-weather</a></h1>
    </div>

    <div class="divider-lg"></div>

    <div id="content">
      <div id="content-center">
          {% block content %}{% endblock %}
      </div>
    </div>


    <div class="divider-lg"></div>

    <div id="footer">
      <p>© 2021 - <a href="https://dleinhellios.com">DLeinHellios</a></p>
    </div>

  </body>
</html>
